/* Cards grid */
.sound-cards{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 3.2rem;
}

.sound-cards button{
    width: 13.8rem;
    height: 15.2rem;
    border: none;
    border-radius: 2.4rem;
    background-color: var(--bg-card-off);
    cursor: pointer;
    transition: background 0.5s ease;
}

/* Cards on */
.sound-cards .card-on{
    background-color: var(--bg-card-on);
} 

.sound-cards .card-on svg path{
    fill: var(--ic-secondary);
}

/* Volume */

.card .volume{
    width: 80%;
    height: 0.5rem;

    cursor:pointer;
    outline: none;
    appearance: none;
	-webkit-appearance: none;

    border-radius: 0.5rem;
    background-color: var(--ic-primary);
}

/* Thumb slider */
/* webkit*/
.card .volume::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
    background: var(--ic-primary);
    border: none;
  }

/*Mozilla*/
.card .volume::-moz-range-thumb{

    -webkit-appearance: none;
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
    background: var(--ic-primary);
    border: none;
}

/* Volume card on */
.card.card-on .volume{
    background: var(--ic-secondary);
}

/*webkit*/
.card.card-on .volume::-webkit-slider-thumb {
    background: var(--ic-secondary);
}

/*Mozilla*/
.card.card-on .volume::-moz-range-thumb{
    background: var(--ic-secondary);
}