*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --fc-text: #323238;
    --fc-text-dark: #fff;

    --ic-primary: #323238;
	--ic-secondary: #fff;
	--ic-primary-dark: #c4c4cc;

    --bg-card-off: #e1e1e6;
    --bg-card-off-dark: #29292e;

    --bg-card-on: #02799d;
	--bg-card-on-dark: #0a3442;

    --bg-dark: #121214;

    font-size: 62.5%;
}

body{
    color: var(--ic-primary);
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 19.2rem;
    margin-top: 19.6rem;
}

.switch{
    position: absolute;
    top: 4rem;
    right: 4rem;
}

.switch button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.hide{
    display: none;
}

#timer{
    justify-content: center;
}

.display-timer span{
    font-family: 'Roboto', sans-serif;
    font-size: 12.6rem;
}

.controls{
    display: flex;
    gap: 4.0rem;
}

.controls button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.sound-cards{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 3.2rem;
}

.sound-cards button{
    width: 13.8rem;
    height: 15.2rem;
    border: none;
    border-radius: 2.4rem;
    background-color: var(--bg-card-off);
    cursor: pointer;
}

.sound-cards .card-on{
    background-color: var(--bg-card-on);
} 